WeatherQueryTest/Service References/WeatherService/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWeatherByGeo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeatherByGeoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatherByGeoResult" type="tns:WeatherInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WeatherInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WeatherJson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RefreshTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWeatherByGeoSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeatherByGeo" />
  </wsdl:message>
  <wsdl:message name="GetWeatherByGeoSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatherByGeoResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherServiceSoap">
    <wsdl:operation name="GetWeatherByGeo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据经纬度获取天气</wsdl:documentation>
      <wsdl:input message="tns:GetWeatherByGeoSoapIn" />
      <wsdl:output message="tns:GetWeatherByGeoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherByGeo">
      <soap:operation soapAction="http://tempuri.org/GetWeatherByGeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherServiceSoap12" type="tns:WeatherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherByGeo">
      <soap12:operation soapAction="http://tempuri.org/GetWeatherByGeo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
      <soap:address location="http://localhost:4026/WeatherService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherServiceSoap12" binding="tns:WeatherServiceSoap12">
      <soap12:address location="http://localhost:4026/WeatherService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>